.left {
    display: flex;
    
    position: absolute;
}


/* .Fixcontent{
    width: 70%;
} */

.Fix>.fixcontent {
    width: 80%;
}

.leftButton {
    position: relative;
    background-color: gray;
    width: 100%;
    left: -895px;
    top:27px;
    height: 81.3vh;
}

.nut {
    background-color: #f8584d;
    width: 280px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}