* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
}

.chat {
    position: absolute;
    left: 0px;
    width: 250px;
    align-items: center;
    bottom: 0px;
}

.chatbox {
    width: 306px;
    height: 400px;
    padding: 20px;
    display: flex;
    position: relative;
    align-items: center;
    background-color: #e5e5e5;
}

.tinnhan {
    width: 307px;
}

.messages {
    background-color: #ddddf7;
    margin: -19px;
    height: calc(100% - -38px);
    overflow: scroll;
    width: calc(100% - -43px);
}
.tingui{
    color: black;
    border-radius:   10px 10px  10px 10px;
    background-color:#45b6fe;
    height: 38px;
    width: fit-content;
    margin: 10px;
    justify-content: center;
}
.fixformMess{
    width: 307px;
    
}
